body {
    display: grid;
    grid-template-columns: 1fr;
}

img.cover {
    width: 100%;
    height: auto;
}

.sub.shortDescription {
    display: none;
}

.index.longDescription {
    display: none;
}
